<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>列表排序</title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<!-- 准备好一个容器-->
		<div id="root">
			<h2>人员列表</h2>
			<input type="text" placeholder="请输入名字" v-model="keyWord">
			<button @click="sortType = 2">年龄升序</button>
			<button @click="sortType = 1">年龄降序</button>
			<button @click="sortType = 0">正常排序</button>
			<ul>
				<li v-for="(p,index) of filPersons" :key="index">
					{{p.name}}-{{p.age}}-{{p.sex}}
				</li>
			</ul>
		</div>

		<script type="text/javascript">
			Vue.config.productionTip = false
			
			new Vue({
				el:"#root",
				data:{
					sortType:0,//0原顺序，1降序，2升序
					keyWord:"",
					persons:[
						{id:'001',name:'马冬梅',age:19,sex:'女'},
						{id:'002',name:'周冬雨',age:20,sex:'女'},
						{id:'003',name:'周杰伦',age:33,sex:'男'},
						{id:'004',name:'温兆伦',age:22,sex:'男'}
					]
				},
				methods: {
					
				},
				computed:{
					filPersons(){
						const arr =  this.persons.filter((f)=>{
							return f.name.includes(this.keyWord)
						})
						//判断是否需要排序
						if(this.sortType == 1){
							return	arr.sort((a,b)=>{
								return b.age-a.age
							})
						}
							
						else if(this.sortType == 2){
							return arr.sort((a,b)=>{
								return a.age-b.age
							})
						}	
						else
							return arr
					}
				}
			})
		</script>
</html>